h1 {
    color: #555555;
    font-family: Georgia;
}

h2 {
    font-family: Georgia;
    font-weight: normal;
}

body {
    left: 0;
    margin: 0;
    overflow: hidden;
    position: relative;
    text-align: center;
    font-family: Georgia;
}
p + ul {
    margin-top: -16px;          /* Font size */
}

.num_players_page {
    left: 0px;
    /* height: 100%; */
    position: fixed;
    width: 100vw;
}

.get_names_page {
    left: -100vw;
    position: fixed;
    width: 100vw;
}

.get_role_set_page {
    left: -100vw;
    position: fixed;
    width: 100vw;
    text-align: left;
    margin-left: 5%;
}

.get_custom_set_page {
    left: -100vw;
    position: fixed;
    width: 100vw;
}

.pass_to_page {
    left: -100vw;
    position: fixed;
    width: 100vw;
}

.show_role_page {
    left: -100vw;
    position: fixed;
    width: 100vw;
}

.done_page {
    left: -100vw;
    position: fixed;
    width: 100vw;
}