body {
    left: 0;
    margin: 0;
    overflow: hidden;
    position: relative;
}

.num_players_screen {
    left: 0px;
    height: 100%;
    position: fixed;
    width: 300px;
}

.get_names_screen {
    left: -300px;
}