<!DOCTYPE html>
<html>
    <head>
        <title>RESISTANCE</title>
    </head>
    <body>
        Enjoy!
        <br><br>
        Play again?
        <form action="/restart" method="post">
            <input type="submit" name="submit" value="Same Setup"/>
            <label>
                Play again with the same players and the same set of roles.
            </label>
            <br>

            <input type="submit" name="submit" value="New Roles"/>
            <label>
                Play again with the same players but with new roles.
            </label>
            <br>

            <input type="submit" name="submit" value="New Players"/>
            <label>
                Start over with a new setup.
            </label>

        </form>
    </body>
</html>
