<!DOCTYPE html>
<html>
    <head>
        <title>RESISTANCE</title>
    </head>
    <body>
        {{ MSG }}

        <p>There are
            {{ NUMGOOD }} <span style="color:blue">Servants of Arthur</span>
            and
            {{ NUMBAD }} <span style="color:red">Minions of Mordred</span>
        </p>
        <p> For Snape, use {{ NUMGOOD }}
            <span style="color:red">Minions of Mordred</span>
            and 1 <span style="color:blue">Snape</span>.</p>

        <form action="/setCustomRoles" method="post">
            <span style="color:blue">Servants of Arthur</span>
            <br>
            <input type="number" name="numKnights"
                   min="0" value={{ NUM_KNIGHTS }}>
            <label>Knights</label>
            <br>
            <input type="number" name="numMerlin"
                   min="1" max="1" value={{ NUM_MERLIN }}>
            <label>Merlin</label>
            <br>
            <input type="number" name="numPercy"
                   min="0" value={{ NUM_PERCIVAL }}>
            <label>Percival</label>
            <br>
            <input type="number" name="numGoodLance"
                   min="0" max="1" value={{ NUM_GOODL }}>
            <label>Good Lancelot</label>
            <br>
            <input type="number" name="numSnape"
                   min="0" max="1" value={{ NUM_SNAPE }}>
            <label>Snape</label>
            <br>

            <br>
            <span style="color:red">Minions of Mordred</span>
            <br>
            <input type="number" name="numMinions"
                   min="0" value={{ NUM_MINIONS }}>
            <label>Minions</label>
            <br>
            <input type="number" name="numMordred"
                   min="0" value={{ NUM_MORDRED }}>
            <label>Mordred</label>
            <br>
            <input type="number" name="numMorgana"
                   min="0" max="1" value={{ NUM_MORGANA }}>
            <label>Morgana</label>
            <br>
            <input type="number" name="numOberon"
                   min="0" value={{ NUM_OBERON }}>
            <label>Oberon</label>
            <br>
            <input type="number" name="numBadLance"
                   min="0" max="1" value={{ NUM_BADL }}>
            <label>Bad Lancelot</label>
            <br>
            <br>
            <input type="submit" value="Done"></input>
            <!-- TODO: Make it show how many goods/bads you have -->
        </form>
    </body>
</html>
