<!-- Shows a player their role and all their information about other players -->

<!DOCTYPE html>
<html>
    <head>
        <title>RESISTANCE</title>
    </head>
    <body>
        <p>{{ NAME }}</p>
        <span style="color:{{ COLOR }}">
          {{ "SERVANT OF ARTHUR" if COLOR=="blue" else "MINION OF MORDRED" }}
        </span>
        <br><br>
        You are {{ ROLE }}.
        <br>

        {% if SPIES %}
        The Minions of Mordred (that you know about) are:
        <ul>
        {% for SPY in SPIES %}
        <li> {{ SPY }} </li>
        {% endfor %}
        </ul>
        {% endif %}

        {% if BADL %}
        Evil Lancelot is: {{ BADL }} <br>
        {% endif %}

        {% if SNAPE %}
        Snape is: {{ SNAPE }} <br>
        {% endif %}

        {% if MERLIN %}
        Merlin is: {{ MERLIN }} <br>
        {% endif %}

        {% if PERCY %}
        Merlin (or Morgana) is:
        <ul>
        {% for player in PERCY %}
        <li>{{ player }}</li>
        {% endfor %}
        </ul>
        {% endif %}

        <p>Please read this flavor text so that nobody can guess at your role
            based on how much time you spend reading,
            then click Done to hide your role.</p>
        <p>{{ FLAVOR }}</p>
        <form action="/pass_to/{{ NEXT }}/">
            <input type="submit" value="Done"></input>
        </form>
    </body>
</html>
